{% extends 'base.html' %}
    
{% block content %}

    <main>
        <section>
            <h2>¿Qué hacemos?</h2>
            <p>Ofrecemos soluciones tecnológicas para optimizar la gestión de citas y agendas en clínicas de salud.</p>
        </section>
        <section>
            <h2>Características principales</h2>
            <ul>
                <li>Gestión de pacientes y profesionales.</li>
                <li>Agendamiento intuitivo.</li>
                <li>Notificaciones y recordatorios.</li>
            </ul>
        </section>
        <section>
            <h2>Contáctanos</h2>
            <p>Para más información, <a href="mailto:contacto@podolyss.com">contáctanos aquí</a>.</p>
        </section>
    </main>

{% endblock %}