{% extends 'base.html' %}
    
{% block content %}
<main>
<section id="servicios" class="py-5 text-center bg-light">
    <div class="container">
        <h2 class="mb-4">¿Qué hacemos?</h2>
        <p class="mb-5">Atención podológica integral, al servicio de la comunidad.</p>
        <div class="row">
            <div class="col-md-4">
                <h4>Gestión de pacientes</h4>
                <p>Organizamos y administramos información de manera eficiente, facilitando su atención.</p>
            </div>
            <div class="col-md-4">
                <h4>Agendamiento intuitivo</h4>
                <p>Facilita el proceso de reservas para pacientes y profesionales, de manera expedita y transparente.</p>
            </div>
            <div class="col-md-4">
                <h4>Notificaciones y recordatorios</h4>
                <p>Mantén a tus usuarios informados de sus citas.</p>
            </div>
        </div>
    </div>
</section>

<section id="testimonios" class="py-5 bg-light text-center">
    <div class="container">
        <h2 class="mb-4">Testimonios</h2>
        <blockquote class="blockquote">
            <p class="mb-0">"Esto es lo que nuestros clientes  dicen sobre nuestro servicio."</p>

        </blockquote>
    </div>
</section>

<div class="senja-embed" data-id="59e948b2-9c5c-4ac4-a448-cd1370d24b8e" data-lazyload="false"></div>
    <script async type="text/javascript" src="https://static.senja.io/dist/platform.js"></script>
  </div>

</section>
</main>

{% endblock %}