{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% else %}alert-info{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% else %}
        <!-- Solo mostrar los errores del formulario si no hay mensajes -->
        {{ form.non_field_errors }}
    {% endif %}
    <form method="post">

        {% csrf_token %}
        <div class="mb-3">
            <label for="id_profesional" class="form-label">Profesional</label>
            {{ form.profesional }}
        </div>
        <div class="mb-3">
            <label for="id_fecha_cita" class="form-label">Fecha de la Cita</label>
            {{ form.fecha_cita }}
        </div>
        <div class="mb-3">
            <label for="id_hora_cita" class="form-label">Hora de la Cita</label>
            {{ form.hora_cita }}
        </div>
        {% if form.observaciones %}
        <div class="mb-3">
            <label for="id_observaciones" class="form-label">Observaciones</label>
            {{ form.observaciones }}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Confirmar Cita</button>
        <a href="javascript:history.back()" class="btn btn-secondary">Regresar</a>

    </form>
</div>
{% endblock %}
