{% extends 'base.html' %}

{% block content %}
<div class="content-container">
    <h1>Historial de Citas del Paciente</h1>
    <form method="get" action="">
        <label for="mes">Filtrar por mes:</label>
        <select name="mes" id="mes">
            <option value="" disabled selected>Seleccione un mes</option>
            {% for mes_num, mes_nombre in meses %}
                <option value="{{ mes_num }}">{{ mes_nombre }}</option>
            {% endfor %}
            <option value="">Todos</option>
        </select>
        <button type="submit">Filtrar</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Profesional</th>
                <th>Centro</th>
            </tr>
        </thead>
        <tbody>
            {% for cita in citas %}
                <tr>
                    <td>{{ cita.fecha_cita }}</td>
                    <td>{{ cita.hora_cita }}</td>
                    <td>{{ cita.profesional.usuario.get_full_name }}</td>
                    <td>{{ cita.centro.nombre }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No hay citas disponibles para este filtro.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{% url 'pagina_paciente' %}">Volver a la página principal</a>
{% endblock %}