{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1>Panel del Paciente</h1>
    <p>Gestión de citas y perfil personalizado.</p>
    <a href="{% url 'cita_create' %}" class="btn btn-primary">Agendar Cita</a>
    <a href="{% if user.paciente %}{% url 'editar_paciente' %}{% else %}{% url 'crear_paciente' %}{% endif %}" class="btn btn-info">Datos Personales</a>
    <a href="{% url 'cita_list' %}" class="btn btn-primary btn-lg">Ver todas mis citas</a>
    
</div>
{% endblock %}